@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@import "tailwindcss";
@import "@heroui/styles";

.masking-gradation-top-to-bottom {
  mask: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), transparent);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.masking-gradation-bottom-to-top {
  mask: linear-gradient(transparent, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

:root {
  --font-inter-sans: "Inter", sans-serif;
  --font-geist-sans: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  --font-instrument-serif: "Instrument Serif", serif;
  --font-jetbrains-mono: "JetBrains Mono", monospace;
}

@theme inline {
  --font-inter-sans: var(--font-inter-sans);
  --font-geist-sans: var(--font-geist-sans);
  --font-geist-mono: var(--font-geist-mono);
  --font-instrument-serif: var(--font-instrument-serif);
  --font-jetbrains-mono: var(--font-jetbrains-mono);
}

body,
html {
  background: #e8e8e8;
  color: #000000;
  font-family: var(--font-inter-sans);
}